<!DOCTYPE html>
<html>

<head>
    <title>Job Application</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

    <h1>Apply For Job</h1>

    <form id="applyForm">

        <input
            type="text"
            id="name"
            placeholder="Enter your name"
            required
        >

        <br><br>

        <input
            type="text"
            id="skills"
            placeholder="Enter skills"
            required
        >

        <br><br>

        <input
            type="number"
            id="experience"
            placeholder="Years of experience"
            required
        >

        <br><br>

        <input
            type="file"
            id="resume"
            required
        >

        <br><br>

        <button type="submit">
            Apply
        </button>

    </form>

    <script src="static/js/apply.js"></script>

</body>

</html>